---
title: "Home - Report System"
layout: "layout-rmr-home-report"

baseURL: "/rmr/build/src/desktop/Home/REPORT/"
homeURL: "../"
loginURL: "../../Login/index.php"
imageURL: "../../../../images"

pageTitle: " REPORT Manager"
pageDescription: "You can start your customization from this one!"

menuDashboard_IsActive: "active"
menuDashboard_href: "./"

menuReportManager_IsActive: ""
menuReportPressureAverage_href: "./PRESSURE-AVERAGE/"

gotoWLMA1125_href: "./WLMA-1125/"
gotoWLMA_GIS_href: "./WLMA-GIS/"

#	  ************************************************
#     *** Page DOM ID registered ***
#	  ************************************************
#     >> ตัวอย่าง - viewEvent-titile (แสดงชื่อกิจกรรม - Event)
#     >> 
#     >> 
#	  ************************************************
#     *** Link Page registered ***
#	  ************************************************
#     >> ตัวอย่าง - gotoWLMA1125_href (เป็นตัวแปรใน current_page.data ที่ใช้สำหรับลิงค์ไปยังหน้า WLMA-1125)
#     >> gotoWLMA1125_href (เป็นตัวแปรใน current_page.data ที่ใช้สำหรับลิงค์ไปยังหน้า WLMA-1125)
---

		<!-- Admin - Navbar  -->
		<%= partial partials_desktop_home + "/home-common-partials/_home-common-navbar" %>

		<!-- BEGIN Container -->
        <div class="container sidebar-blue" id="main-container">


			    <!-- BEGIN Content -->
			    <div id="main-content" >


			    	<!-- Home - Container - MainContent - pageTitle  -->
			    	<%= partial partials_desktop_home + "/REPORT/home-report-container-partials/_home-report-container-mainContent-pageTitle" %>
			    	<!-- Home - Container - MainContent - breadCrumbs  -->
			    	<%= partial partials_desktop_home + "/REPORT/home-report-container-partials/_home-report-container-mainContent-breadCrumbs" %>
					
					<!-- Home - Container - MainContent - menuTile - First Row  -->
			    	<%= partial partials_desktop_home + "/REPORT/home-report-container-partials/_home-report-container-mainContent-dashboardTile_firstRow" %>

			    	<!-- Home - Container - MainContent - menuTile - Second Row  -->
			    	<%= partial partials_desktop_home + "/REPORT/home-report-container-partials/_home-report-container-mainContent-dashboardTile_secondRow" %>
					
			    	
			    	

			        <footer>
			            <p>Copyright © 2015 MWA. All rights reserved.</p>
			        </footer>
			        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
			    </div>
			    <!-- END Content -->
        </div>
        <!-- END Container -->