                    <li class="<%= current_page.data.sidebarRmrManager_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RTU Manager</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="<%= current_page.data.sidebarRmrList_IsActive %>">
                                <a href="<%= current_page.data.sidebarRmrList_href %>">รายการข้อมูล RTU</a>
                            </li>
                            <li class="<%= current_page.data.sidebarSmartRtu_IsActive %>">
                                <a href="<%= current_page.data.sidebarSmartRtu_href %>">SMART RTU</a>
                            </li>

                        </ul>
                        <!-- END Submenu -->
                    </li>