                    <li class="<%= current_page.data.menuRmr_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RMR</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li class="<%= current_page.data.menuRmr_reportRtuIsActive %>"><a href="rmr_reportRTU.php">แสดงข้อมูล RTU ที่ใช้งาน</a></li>
                            <li class="<%= current_page.data.menuRmr_searchRtuIsActive %>"><a href="rmr_searchRTU.php">สืบค้นข้อมูลแยกตามสาขา</a></li>
                            <li class="<%= current_page.data.menuRmr_reportDeviceRepairIsActive %>"><a href="rmr_reportDeviceRepair.php">สรุปรายการอุปกรณ์เสีย</a></li>
                            <li class="<%= current_page.data.menuRmr_reportCostIsActive %>"><a href="rmr_reportCost.php">สรุปงบประมาณ</a></li>
                        </ul>
                        <!-- END Submenu -->
                    </li>