                    <li class="<%= current_page.data.menuRtuInfo_IsActive %>">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>RTU Info</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>

                        <!-- BEGIN Submenu -->
                        <ul class="submenu" id="menuRtuInfo">
                            <li class="">
                                <a href="<%= current_page.data.menuRtu_information_href %>">บางกอกน้อย (B01)</a>
                            </li>
                            <li class="">
                                <a href="<%= current_page.data.menuRtu_information_href %>">ตากสิน (B02)</a>
                            </li>
                            <li class="">
                                <a href="<%= current_page.data.menuRtu_information_href %>">สุขสวัสดิ์ (B55)</a>
                            </li>
                            <li class="">
                                <a href="<%= current_page.data.menuRtu_information_href %>">ประชาชื่น (B15)</a>
                            </li>
                            <li class="">
                                <a href="<%= current_page.data.menuRtu_information_href %>">บางเขน (B16)</a>
                            </li>
                        </ul>
                        <!-- END Submenu -->
                    </li>