<section id="clients" class="content-section text-center">
		<div class="container">
			<h2 class="text-center"> Our Clients</h2>
			<img src="<%= current_page.data.imagePath + 'partner1.png' %>">
			<img src="<%= current_page.data.imagePath + 'partner2.png' %>">
			<img src="<%= current_page.data.imagePath + 'partner3.png' %>">
			<img src="<%= current_page.data.imagePath + 'partner4.png' %>">
			<img src="<%= current_page.data.imagePath + 'partner5.png' %>">
			<img src="<%= current_page.data.imagePath + 'partner6.png' %>">
		</div>
</section>