<?php
session_start(); //start session.
?>

<!DOCTYPE html>
<html>
    <head>
        <base href="<%= current_page.data.baseURL %>">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= current_page.data.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag "stylesheet-rmr-home-report-wlma_scada-ws_01_01" %>

        <link rel="shortcut icon" href="<%= current_page.data.imageURL + '/rmr/favicon.ico' %>">
    </head>
    <body>

        <!-- PHP Script - Check JWT Sesstion -->
        <%= partial "layouts/common/_check_jwt_session" %>


        <%= yield %>

        <%= javascript_include_tag  "javascript-rmr-home-report-wlma_scada-ws_01_01" %>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAttHidUVHWkhjblbzuUyERCeQN7trGA1w&v=3.2&sensor=false"></script>
        <script src="http://matchingnotes.com/javascripts/leaflet-google.js"></script>
        <script src="https://cdn.jsdelivr.net/leaflet.esri/1.0.2/esri-leaflet.js"></script>
        


        
    </body>
</html>