<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= current_page.data.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag "stylesheet-flaty_theme" %>

        <link rel="shortcut icon" href="<%= '../' + images_dir + '/images-flaty_theme/favicon/favicon.ico' %>">
    </head>
    <body>

        <%= yield %>

        <%= javascript_include_tag  "javascript-flaty_theme" %>

    </body>
</html>