            <!-- BEGIN Content -->
            <div id="main-content">

                <!-- Admin - Container - MainContent - PageTitle  -->
                <%= partial "_Admin-container-mainContent-pageTitle" %>


                <!-- Admin - Container - MainContent - breadCrumbs  -->
                <%= partial "_Admin-container-mainContent-breadCrumbs" %>

                <!-- Admin - Container - MainContent - Tiles  -->
                <%= partial "_Admin-container-mainContent-tiles" %>


                <!-- BEGIN Main Content -->
                <div class="row">
                    <div class="col-md-7">
                        <!-- Admin - Container - MainContent - visitorsChart  -->
                        <%= partial "_Admin-container-mainContent-contentVisitorsChart" %>
                    </div>
                    <div class="col-md-5">
                        <!-- Admin - Container - MainContent - weeklyVisitorsStat  -->
                        <%= partial "_Admin-container-mainContent-contentWeeklyVisitorsStat" %>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-7">
                        <!-- Admin - Container - MainContent - thingToDo  -->
                        <%= partial "_Admin-container-mainContent-contentThingToDo" %>
                    </div>
                    <div class="col-md-5">
                        <!-- Admin - Container - MainContent - weeklyChanges  -->
                        <%= partial "_Admin-container-mainContent-contentWeeklyChanges" %>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-7">
                        <!-- Admin - Container - MainContent - lastComments  -->
                        <%= partial "_Admin-container-mainContent-contentLastComments" %>
                    </div>
                    <div class="col-md-5">
                        <!-- Admin - Container - MainContent - tasksInProgress  -->
                        <%= partial "_Admin-container-mainContent-contentTasksInProgress" %>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-7">
                        <!-- Admin - Container - MainContent - chat  -->
                        <%= partial "_Admin-container-mainContent-contentChat" %>
                    </div>
                    <div class="col-md-5">
                        <!-- Admin - Container - MainContent - todoList  -->
                        <%= partial "_Admin-container-mainContent-contentTodoList" %>
                    </div>
                </div>
                <!-- END Main Content -->
                

                <!-- Admin - Container - MainContent - Footer  -->
                <%= partial "_Admin-container-mainContent-footer" %>

                <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
            <!-- END Content -->