<div class="panel panel-default post">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-2">

				<!-- post avatar  -->
				<%= partial "_training-section4-post-avatar.erb" %>

			</div><!-- col-sm-2 end -->
			<div class="col-sm-10">

				<!-- post bubble  -->
				<%= partial "_training-section4-post-bubble.erb" %>
			
				<!-- post comment_like_follow_share  -->
				<%= partial "_training-section4-post-commentLkeFollowShare.erb" %>
			
				<!-- post form  -->
				<%= partial "_training-section4-post-comment_form.erb" %>

				<div class="comments">
					
					<!-- post comment  -->
					<%= partial "_training-section4-post-comment.erb" %>

					<!-- post comment  -->
					<%= partial "_training-section4-post-comment.erb" %>

				</div>
			</div>
		</div>
	</div>
</div>