---
title: Training Section4
layout: "layout-training-section4"
imagePath: '../../../images/images-training-section4/'
homeMenuActive: ''
membersMenuActive: ''
groupsMenuActive: ''
photosMenuActive: 'active'
profileMenuActive: ''
---



<!-- header  -->
<%= partial "_training-section4-header.erb" %>

<!-- navbar  -->
<%= partial "_training-section4-navbar.erb" %>


<section>
	<div class="container">
		<div class="row">

			<div class="col-md-8">

				<!-- wall  -->
				<%= partial "_training-section4-photos.erb" %>


			</div><!-- col-md-8 end -->
			

			<div class="col-md-4">

				<!-- My Friends  -->
				<%= partial "_training-section4-myfriends.erb" %>

			</div>

		</div>
	</div>

</section>


<!-- footer  -->
<%= partial "_training-section4-footer.erb" %>