---
title: "Gamma :Photo Sharing"
layout: "layout-training-section2"
---


<!-- navbar section -->
<%= partial "_training-section2-navbar" %>

<!-- jumbotron section  -->
<%= partial "_training-section2-jumbotron" %>



<section id="middle">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			<img src="<%= '../../../' + images_dir + '/images-training-section2/demo1.jpg' %>" class="demo">
				<h2>Lorem Ipsum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-md-4">
				<img src="<%= '../../../' + images_dir + '/images-training-section2/demo2.jpg' %>" class="demo">
				<h2>Lorem Ipsum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-md-4">
				<img src="<%= '../../../' + images_dir + '/images-training-section2/demo3.jpg' %>" class="demo">
				<h2>Lorem Ipsum</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
				<a href="#" class="btn btn-default">Read More</a>
			</div>
		</div>
	</div>
</section>



<section id="feature">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1>Gamma Features</h1>
				<ul>
					<li> <i class="glyphicon glyphicon-ok"></i> Donec pulvinar </li>
					<li> <i class="glyphicon glyphicon-ok"></i> Sit amet euismod mauris rutrum</li>
					<li> <i class="glyphicon glyphicon-ok"></i> Pulvinar ante</li>
					<li> <i class="glyphicon glyphicon-ok"></i> Euismod mauris rutrum</li>
				</ul>
			</div>
			<div class="col-md-4 col-md-offset-2">
			<img class="big-logo" src="<%= '../../../' + images_dir + '/images-training-section2/logo.png' %>">
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<p>Copyright &copy; 2015, All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>